<div><a href="{% url 'home' %}">Home</a></div>
<div><a href="{% url 'my_profile' %}">My Profile</a></div>
<div>
    <div>Search by username, first name, or last name</div>
    <form action="{% url 'search_users' %}" method="GET">
        <input name="search_string" type="text" placeholder="Search..." id="search_users">
        <button type="submit">Search</button>
    </form>
</div>
<div>{{ request.user.username }} is logged in.</div>
<div><a href="{% url 'logout' %}">Logout</a></div>


{% block content %}
{% endblock content %}