{% extends "base.html" %}

{% block content %}
    <h2>Home Feed</h2>
    {% for photo in photos_from_followings %}
        <div class="photo_container">
            <div>
                <a href="{% url 'profile' photo.user_id %}">{{ photo.user.username }}</a>
            </div>
            <img src="{{ photo.image.url }}" />
            {% for comment in photo.comments_with_posters.all %}
                <div><a href="{% url 'profile' comment.poster_id %}">{{ comment.poster.username }}</a> {{ comment.text }}</div>
            {% endfor %}

            <form method="post" action="{% url 'post_comment' photo.id %}">
                {% csrf_token %}
                <input type="text" name="comment">
                <input type="hidden" name="redirect_view" value="home">
                <input type="submit" value="Comment">
            </form>
        </div>
    {% endfor %}
{% endblock content %}