{% extends "base.html" %}

{% block content %}
    {% if request.user.id == profile_user.id %}
        <h2>My Profile</h2>
        <div><a href="{% url 'photo_upload' %}">Upload a new photo</a></div>
    {% else %}
        <h2>{{ profile_user.first_name }} {{ profile_user.last_name }} ({{ profile_user.username }})</h2>
        {% if request_user_follows_profile_user %}
            <div>You are following this profile.</div>
            <div>
                <form method="post" action="{% url 'unfollow' profile_user.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Unfollow">
                </form>
            </div>
        {% else %}
            <div>You aren't following this profile.</div>
            <div>
                <form method="post" action="{% url 'follow' profile_user.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Follow">
                </form>
            </div>
        {% endif %}
    {% endif %}

    <div style="margin-top: 1em;">Following: {{ follow_counts.following }}</div>
    <div style="margin-bottom: 1em;">Followers: {{ follow_counts.followers }}</div>

    {% for photo in photos %}
        <div class="photo_container">
            <img src="{{ photo.image.url }}" />
            {% for comment in photo.comments_with_posters.all %}
                <div><a href="{% url 'profile' comment.poster_id %}">{{ comment.poster.username }}</a> {{ comment.text }}</div>
            {% endfor %}

            <form method="post" action="{% url 'post_comment' photo.id %}">
                {% csrf_token %}
                <input type="text" name="comment">
                <input type="hidden" name="redirect_view" value="profile">
                <input type="submit" value="Comment">
            </form>
        </div>
    {% endfor %}
{% endblock content %}
